.geom-stage {
  display: flex;
}

.panel {
  border: solid black 2px;
  overflow: auto;
  padding: 10px;
  margin: 6px;
  width: 25%;
}

.stage {
  border: solid black 2px;
  overflow: auto;
  width: 75%;
  margin: 6px;
  margin-left: 12px;
}

.stage::-webkit-scrollbar {
  height: 10px;              /* height of horizontal scrollbar */
  width: 10px;               /* width of vertical scrollbar */
  border: 4px solid #d5d5d5;
}
